@model CreateEditStudentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Register Student</h1>

<hr />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <div>
                    <input type="text" id="birthDateInput" asp-for="BirthDate" class="form-control" />
                </div>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedSchoolClassId" class="control-label"></label>
                <select asp-for="SelectedSchoolClassId" asp-items="Model.AvailableSchoolClasses" class="form-control"></select>
                <span asp-validation-for="SelectedSchoolClassId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
           
            <div class="form-group mt-3 d-flex justify-content-start align-items-center">
                <input type="submit" value="Create" class="btn btn-action-primary" />
                <a asp-action="Index" class="btn btn-action-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div class="text-success">
    <p>
        @ViewBag.Message @*Menssagem de confirmação do envio de email*@
    </p>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            // Inicializa o DatePicker para BirthDate
            var birthDatePicker = new ej.calendars.DatePicker({
                format: 'MM/dd/yyyy',
                placeholder: 'Select a date',
                max: new Date()
            });
            birthDatePicker.appendTo('#birthDateInput'); //ligação ao elemento de BirthDate
           });
    </script>
}
