@model SearchViewModel<GestaoEscolarWeb.Data.Entities.Evaluation>
@{
    ViewData["Title"] = "Grades";
}


<h2>Search exams and grades</h2>


<div class="row">
    <div class="col-md-8">
        <form asp-action="Grades" method="post">
           
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentFullName" class="control-label"></label>
                <input asp-for="StudentFullName" class="form-control" />
                <span asp-validation-for="StudentFullName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="search" class="btn btn-primary" />
            </div>
            <flash dismissable="true" />
        </form>
    </div>
</div>

<hr />

@if (Model.IsSearchSuccessful)
{
    <h4>@Model.StudentFullName exam results:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Exam date</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
