@model GestaoEscolarWeb.Models.CreateEditSchoolClassViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit school class</h1>

<hr />
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <partial name="_CreateEdit" />

            @* <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div> *@

            <div class="form-group mt-3 d-flex justify-content-between align-items-center">
                <input type="submit" value="Save" class="btn btn-action-primary" />
                <a asp-action="Index" class="btn btn-action-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
